*/.settings/
*/target/
*/.classpath
*/.project

.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/SpringAll.iml
.idea/vcs.xml
.idea/workspace.xml
